body {
  font-family: "Noto Sans TC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@for $weight from 200 through 900 {
  .noto-serif-tc-#{$weight} {
    font-weight: $weight;
  }
}