$primary   : #FDA300;
$secondary : #21ba45;
$accent    : #ff6200;
$background: #FFFFFF;

// 暗色模式相關變量
$dark: #1c1100 !default; // 暗色背景
$text-color-dark: white !default; // 暗色模式文字顏色

// 背景顏色覆蓋
body.body--dark {
  background: #160e00;
  color: white;
}

body.body--light {
  background: #ffffff;
  color: black;
}



body.body--dark {
  .q-item__label,
  .text-caption,
  .item-name,
  .normal-font.q-mb-sm {
    color: white !important;
  }
}

// /* Override the default dark mode background */
// body.body--dark {
//   background: #333333; /* Gray background */
//   color: #f0f0f0; /* Light gray text */
// }

// /* Optional: Customize light mode styles */
// body.body--light {
//   background: #ffffff; /* Light background */
//   color: #000000; /* Dark text */
// }

// /* Example for a header or toolbar in dark mode */
// body.body--dark .q-toolbar {
//   background: #444444;
//   color: #e0e0e0;
// }

// /* Example for buttons in dark mode */
// body.body--dark .q-btn {
//   background: #555555;
//   color: #ffffff;
// }
